<div class="panel-icons">
  
    <div class="icon-container">
        <p><mat-icon aria-hidden="false" aria-label="Example home icon" (click)="itemClicked(NavmenuEnum.Explorer)" class="icons">content_copy </mat-icon></p>
    </div>

    <div class="icon-container">
        <p><mat-icon aria-hidden="false" aria-label="Example home icon" (click)="itemClicked(NavmenuEnum.Search)" class="icons">search</mat-icon></p>
    </div>

    <div class="icon-container">
        <p><mat-icon aria-hidden="false" aria-label="Example home icon" (click)="itemClicked(NavmenuEnum.Extensions)" class="icons">home</mat-icon></p>
   </div>

</div>